#                                      ML-Zoomcamp Week 1 Home Work

In [49]:
#importing necessary libraries

import pandas as pd
import numpy as np

## Question 1

## Pandas Version

In [2]:
print(f"Pandas version installed in my Machine is --- {pd.__version__}")

Pandas version installed in my Machine is --- 1.4.2

In [3]:
# Storing the dataset into a dataframe

df=pd.read_csv('datasets_master_housing.csv')

In [4]:
# Viewing the first 5 rows of dataset

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Question 2

## How many columns are in the dataset?

In [5]:
# Checking dataset shape

df.shape

(20640, 10)

## Question 3

## Which columns in the dataset have missing values?

In [6]:
# Checking the null values in the dataset

df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4

## How many unique values does the ocean_proximity column have?

In [7]:
df['ocean_proximity'].nunique()

5

### Answer is 5

## Question 5

## What's the average value of the median_house_value for the houses located near the bay?

In [8]:
df.groupby('ocean_proximity').mean().round(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
ocean_proximity,,,,,,,,,
<1H OCEAN,-118.85,34.56,29.28,2628.34,546.54,1520.29,517.74,4.23,240084.29
INLAND,-119.73,36.73,24.27,2717.74,533.88,1391.05,477.45,3.21,124805.39
ISLAND,-118.35,33.36,42.40,1574.60,420.40,668.00,276.60,2.74,380440.00
NEAR BAY,-122.26,37.80,37.73,2493.59,514.18,1230.32,488.62,4.17,259212.31
NEAR OCEAN,-119.33,34.74,29.35,2583.70,538.62,1354.01,501.24,4.01,249433.98

## Question 6

In [9]:
df['total_bedrooms'].isna().sum()

207

### Before

In [10]:
df['total_bedrooms'].mean()

537.8705525375618

In [11]:
df['total_bedrooms']=df['total_bedrooms'].fillna(df['total_bedrooms'].mean())

In [12]:
df['total_bedrooms'].isna().sum()

0

### Answer

In [13]:
df['total_bedrooms'].mean()

537.8705525375639

## Question 7

In [36]:
df2=df[df['ocean_proximity']=='ISLAND']

In [38]:
df2.shape

(5, 10)

In [39]:
dataframe=df2[['housing_median_age','total_rooms','total_bedrooms']]

In [40]:
dataframe

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [41]:
X=dataframe.values

In [42]:
XTX= np.dot(X.T,X)

In [43]:
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [44]:
y=[950, 1300, 800, 1000, 1300]

In [45]:
XTX_inv=np.linalg.inv(XTX)

In [46]:
w = XTX_inv.dot(X.T).dot(y)

### Answer

In [51]:
w[2]

5.699229455065575